# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/xxmcdhai/demo.wasantoyota.in"
PassengerBaseURI "/"
PassengerNodejs "/home/xxmcdhai/nodevenv/demo.wasantoyota.in/18/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
